################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoverageReport
/.vs
/EduCore.Tests/bin/Debug
/EduCore.Tests/obj
/EduCore.Tests/TestResults
