# Visual Studio
.vs/
.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# Logs
*.log

# SQL Server
*.mdf
*.ldf

# OS files
.DS_Store
Thumbs.db

# Rider
.idea/